## Ali Abdullah Ahmad   
## CWID - 20031246

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
#Importing Trained data from hw3
df = pd.read_csv('D:/Stevens GIT/Stevens_IT-MS_in_CS/SPRING_25/CS559_Applications_of_ML/HW/hw3/train_data_processed.csv')

In [ ]:
X = df.drop(columns=['Salary'])
y = df['Salary']

   AtBat  HmRun  RBI  Walks  Years  CHmRun  PutOuts  Assists  Errors  \
0    550     29   91     71      6     117     1218      104      10
1    190      2    8     15      5       5      102      177      16
2    629     18  102     40     18     164     1067      157      14
3    181      6   23     22      1       6       88        0       3
4    441     16   73     80     14     209       97      218      16

   League_N  Division_W  NewLeague_N  Hits_per_AtBat
0     False        True        False        0.266788
1     False        True        False        0.240838
2     False       False        False        0.266667
3      True        True         True        0.318681
4     False        True        False        0.289593

0    1310.000
1     175.000
2     776.667
3      86.500
4    1500.000
Name: Salary, dtype: float64